 * {
    box-sizing: border-box;
  }
  
  :root {
    --wrapper-width: 250px;
    --square-width: 50px;
    --app-height: 100vh;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  button{
    cursor: pointer;
  }
  main {
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    width: calc(var(--wrapper-width) + 10px);
    padding: 5px;
    background-color: #eee;
    border-radius: 10px;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .5s;
  }
  
  .square {
    font-family: 'Bangers', cursive;
    width: var(--square-width);
    height: var(--square-width);
    border: 1px dashed rgb(100, 99, 99);
    background-color: #f2e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
  }

  .squareTopLeft{
    border-top-left-radius: 10px;
  }
  .squareTopRight{
    border-top-right-radius: 10px;
  }
  .squareBottomRight{
    border-bottom-right-radius: 10px;
  }
  .squareBottomLeft{
    border-bottom-left-radius: 10px;
  }

  
  .boom {
    background-color: red;
    text-align: center;
    font-size: 1.5rem;
  }
  .safe {
    border: none;
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Grass_Texture.png/1200px-Grass_Texture.png?20160331002702');
   background-repeat: no-repeat;
   background-size: contain;
  }
  
  .aroundNotSafe{
    background-color: rgb(190, 183, 183);
  }
  .marked{
    background-color: #f9dede;
  }
  .marked:after{
    content: '🚩';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }