 * {
    box-sizing: border-box;
  }
  
  :root {
    --wrapper-width: 250px;
    --square-width: 50px;
    --app-height: 100vh;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  main {
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    width: var(--wrapper-width);
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .5s;
  }
  
  .square {
    width: var(--square-width);
    height: var(--square-width);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .boom {
    background-color: red;
  }
  .safe {
    background-color: aquamarine;
  }
  
  .yellow{
    background-color: yellow;
  }