 * {
    box-sizing: border-box;
  }
  
  :root {
    --wrapper-width: 250px;
    --square-width: 50px;
    --app-height: 100vh;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  button{
    cursor: pointer;
  }
  main {
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  url('../img/grass.png'), linear-gradient(#6491d0, #bbe5f4);
    background-size: cover;
   
    
  }
  #gameHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--wrapper-width);
    margin: 1rem auto;
  }

  .wrapper {
    width: calc(var(--wrapper-width) + 10px);
    padding: 5px;
    background-color: #eee;
    border-radius: 10px;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .5s;
  }
 
  .square {
    font-family: 'Bangers', cursive;
    width: var(--square-width);
    height: var(--square-width);
    border: 1px dashed #9EB06E;
    background-color: #f2e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
  }

  .squareTopLeft{
    border-top-left-radius: 5px;
  }
  .squareTopRight{
    border-top-right-radius: 5px;
  }
  .squareBottomRight{
    border-bottom-right-radius: 5px;
  }
  .squareBottomLeft{
    border-bottom-left-radius: 5px;
  }

  
  .boom {
    background-color: #B9545D;
    text-align: center;
    font-size: 1.5rem;
  }
  .safe {
    border: none;
   background-image: url('../img/pattern-grass.jpg');
   background-repeat: no-repeat;
   background-size: 250%;
  }
  
  .aroundNotSafe{
    background-color: #D3DBBE;
  }
  .marked{
    background-color: #ECE99A;
  }
  .marked:after{
    content: '🚩';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }